---
---

/* Definitions */
$orange: #ffa500;
$green: #32cd32;
$blue: #27408b;
$white: #ffffff;
$dark-grey: #666666;


/* General Stuff */
h1 {
  color: #000000;
  font-size: 30px;
}

h3 {
  font-size: 25px;
  color: $dark-grey;
  padding-left: 5px;
  font-weight: bold;
}

p {
  color: #303030;
  font-size: 15px;
}


body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}

body {
}

.top-header-text {
  background: $white;
}

.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}

/* Slides Stuff */
section {
	min-width: 960px;
	opacity: 0;
}

.loaded section{
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

main {
	overflow-x: hidden;
}

#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

/* Slide 1 Stuff */
#slide-1{
  max-height: 300px;

  h1 {
    color: #ffffff;
    font-size: 90px;
    text-align: center;
    margin-top: 35px;
  }

  .bcg {
    background-image: url('../img/blob.jpg');
  }

  .hsContainer {
    background-color: rgba(15, 77, 146, 0.8);
  }

  .hsContent {
    bottom: 200px;
    top: auto;
    left: 10%;
  }

  .row {
    background-color: rgba(15, 77, 146, 0.0);
    padding-top: 50px;
  }
}



/* Slide 2 Stuff */
#slide-2{
  max-height: 550px;

  p {
    color: #666666;
    font-size: 15px;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .bcg {
    background-color: #ffffff;
  }

  .row {
    height: 100%;
    margin-top: 50px;

    .icons {
      margin-top: 0px;
    }

    .contact-info {
      margin-top: 25px;
    }

    .columns {
      text-align: center;
    }

    p {
      margin-top: 5px;
      margin-left: 0px;
    }
  }

  #propic {
    transform: scale(0.7);
  }

  img {
    border:5px solid #0F4D92;
  }

  #about-blurb {
    padding-top: 55px;
  }

  .size-1 {
    font-size: 75px;
  }

  .size-2 {
    font-size: 24px;
  }

  a {
    color: inherit;
  }
  a:hover {
    color: #666666;
  }
}


/* Slide 3 Stuff */
#slide-3{
  //max-height: 700px;

  h1 {
    color: #666666;
    text-align: left;
    margin-top: 75px;
    margin-bottom: 0px;
    font-weight: bold;
    padding-left: 10px;
  }

  p {
    color: #444444;
    font-size: 15px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .bcg {
    background-image: url('../img/berkeley_clouds_lowres.jpg');
  }

  .row {
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
    max-width: 100%;
  }

  /* Stuff of the side bar */
  .right-header {
    background: #ffffff;
    padding-right: 0px;
    max-width: 250px;
  }

  .highlight {
    background: $orange;
  }

  /* Stuff of the content */
  img {
  }

  .sidebar-logo {
    transform: scale(0.5);
    padding-top: 0px;
  }

  #berkeley-logo {
    display: inline-block;
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 25px;
  }

  #edu-desc {
    position: relative;
    top: -50px;
  }

  #tech-logo {
    transform: scale(0.5);
  }

  .top-header {
    background: $orange;
  }
}

/* Slide 4 Stuff */
#slide-4{
  max-height: 700px;

  h1 {
    color: #666666;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 0px;
    font-weight: bold;
  }

  .bcg {
    background: #ffffff
  }

  .row {
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
    max-width: 100%;
  }

  .left-header {
    background: #ffffff;
    padding: 0px;
    max-width: 250px;
  }

  .highlight {
    background: $green;
  }

  img {
    transform: scale(0.5);
    padding-top: 0px;
  }

  .showcase {
    margin-top: 50px;
  }

  .pitem {
    transform: scale(0.75);
    border:5px solid #0F4D92;
  }

  .pblurb {
    margin-left: 50px;
    margin-right: 50px;
  }

  .top-header {
    background: $green;
  }

  @media only screen and (max-width: 64em) {
    .showcase {
      .pblurb {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}


/* Slide 5 Stuff */
#slide-5{
  max-height: 700px;

  h1 {
    color: #666666;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 0px;
    font-weight: bold;
    padding-left: 0px;
  }

  h2 {
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }

  p {
    color: #333333;
    font-size: 15px;
    text-align: left;
    margin-bottom: 0px;
  }

  .bcg {
    background-image: url('../img/berkeley_glade.jpg');
  }

  .hsContainer {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .row {
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
    max-width: 100%;
  }

  /* Stuff of the side bar */
  .right-header {
    background: #ffffff;
    padding-right: 0px;
    max-width: 250px;
  }

  .highlight {
    background: $blue;
  }

  /* Stuff of the content */
  img {
    transform: scale(0.5);
    padding-top: 0px;
  }

  .publications {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
  }

  .title {
    background-color: rgba(15,77,146,0.8);
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
  }

  .publication {
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .publication-link:hover {
    background-color: rgba(255,255,255,1.0);
  }

  .top-header {
    background: $blue;
  }
}


/* Mobile Stuff */
@media only screen and (max-width: 64em) {
    .showcase {
      .pblurb {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  h1 {
    font-size: 20px;
  }
}
