<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <link href="css/foundation.css" rel="stylesheet">
    <link href="css/foundation-icons.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/vendor/modernizr.js"></script>
</head>
