<!doctype html>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<html>
  {% include head.html %}

  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <section class="top-bar-section">
        <ul class="left">
          <li><a class="scroller" href="#slide-2">About</a></li>
          <li><a class="scroller" href="#slide-4">Fun Stuff</a></li>
          <li><a class="scroller" href="#slide-5">Publications</a></li>
        </ul>
      </section>
    </nav>
  </div>

  <div id="skrollr-body">
    {{ content }}
  </div>

</html>
